# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
bash.exe.stackdump
*.zip
.terraformrc
terraform.rc
*.lock.hcl
.terraform
IaC/Terraform/terraform.tfstate

# Ignorar archivo puntuales
.env
*.xlsx

# Ignorar entorno virtual
venv/

# Ignorar caché de Python
__pycache__/

# Ignorar archivos temporales de Python
*.pyc
*.pyo